
<div class = "book">
<div class = "full">
<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <tr>
    <label for="title">Titre</label>
    <td></td><input type="text" name="title" id="title" [(ngModel)]="book.titre" />
    </tr>
    <tr>
    <label for="numpage">Nombre de pages</label>
    <td></td><input type="number" name="numpage" id="numpage" [(ngModel)]="book.nombreDePage" />
    </tr>
    <tr>
    <label for="domain">Domaine</label>
    <td></td><input type="text" name="domain" id="domain" [(ngModel)]="book.domaine.nom" />
    </tr>
    <input type="submit" value="Save" />
    
  </form>
</div>
</div>
</div>