
<div class="book">
<div class = "container">
<img class = "cover" src="https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="book cover">
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Nombre de pages</th>
        <th>Domaine</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ book?.titre }}</td>
        <td>{{ book?.nombreDePage }}</td>
        <td>{{ book?.domaine?.nom }}</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>
</div>
</div>