<div class="author">
  <div class = "full">
  <div class="content">
  <h2>Détails :</h2>
  <p><strong>Grade : </strong>{{ author?.grade }}</p>
  <p><strong>Nom :</strong> {{ author?.nom }}</p>
  <p><strong>Prenom : </strong>{{ author?.prenom }}</p>
  <p><strong>Email :</strong> {{ author?.email }}</p>
  <p><strong>Telephone :</strong> {{ author?.telephone }}</p>
</div>
<h2>Livres :</h2>
<div class = "container">
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Nombre de pages</th>
        <th>Domaine</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of author?.livres">
        
        <td>{{ livre.titre }}</td>
        <td>{{ livre.nombreDePage }}</td>
        <td>{{ livre?.domaine?.nom }}</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>
</div>
  </div>  
</div>